*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height:100vh;
    overflow-x: hidden;
    overflow-y:auto;
}
.container{
    height: 100%;
    max-width: 1200px;
    margin:0 auto; /*ye isliye use krte h so that left and right margin are equal*/
    padding:20px;
}
.container h1{
    margin: 20px 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 3rem;
}
.gallery{
    display: flex;
    flex-wrap: wrap;/*iske bina saare element single line m aa jayenge*/
    justify-content: space-between;
}
.card{

    width:32%;
    margin: 7.5px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    box-shadow:  0 0 20px #333;
    object-fit: cover;
}
.card:hover{
    transform: scale(1.03);
    transition: 0.3s;
    filter: drop-shadow(0 0 10px #333);
}
.card:hover img{
    filter: grayscale(0%)
}
.card figcaption{
    position: absolute;
    bottom: 0;
    left:0;
    padding:5px;
    width: 100%;
    height:15%;
    font-size: 16px;
    font-weight: 500;
    color:#fff;
    opacity:0;/*isse text chhup jayega*/
    border-radius: 0 0 10px 1px;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(255,255,255,0) 100%);
    transition: 0.3s;
}
.card:hover figcaption{
    opacity: 1;
    transform: scale(1.03);
}
